		.featured{
			width: 100vw;
			height: auto;
			display: grid;
			place-items: center;
			grid-template-rows: auto auto auto;
			grid-row-gap: 50px;
			margin-top: 50px;
		}
		.featured .section-heading{
			width: 100%;
			height: 100%;
			display: grid;
			grid-template-columns: 5% auto;
			align-items: center;
			text-align: left;
			
		}
		.featured .section-heading .side-line{
			width: 10px;
			height: 5rem;
			background-color: var(--lightcolor);
			display: grid;
			place-items: center;
			margin-left: 90%;


		}
		.featured .section-heading .h-name{
			padding-left: 3rem;
			display: grid;
			grid-auto-flow: row;
		}
		.featured .section-heading h2{
			font-size: xxx-large;
			font-weight: 700;
			color: var(--headcolor);
			
		}
		.featured .section-heading p{
			font-size: large;
			font-weight: 700;
			color: var(--lightcolor);;
		}

		 .section-cards{
width: 100vw;
height: fit-content;
display: grid;
place-items: center;
grid-template-columns: auto auto auto;
row-gap: 40px;
column-gap: 20px;
}
.section-cards .prop-card{
position: relative;
width: 300px;
height: fit-content;
display: grid;
grid-template-rows: max-content max-content;
background-color: rgb(255, 255, 255);
cursor: pointer;
overflow: hidden;
border-radius: 15px;
transition: all 0.3s ease 0s;
}
.section-cards .prop-card:hover {
box-shadow: rgba(0, 0, 0, 0.16) 2px 4px 16px;
transform: scale3d(1.01, 1.01, 1.01);
}
.section-cards .prop-card .card-img{
width: 100%;
height: auto;
display: grid;
place-items: center;
overflow: hidden;
}
.section-cards .prop-card .card-img img{
width: calc(250px + 5vw);
height: calc(200px + 2vw);
object-fit: cover;
object-position: center;
}

.section-cards .prop-card .card-details{
	display: grid;
	width: 100%;
	grid-auto-rows: max-content max-content max-content;
	padding: 20px;
	row-gap: 15px;
}
.section-cards .prop-card .card-details .card-perameter{
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 15px;
}
.section-cards .prop-card .card-details .card-pay{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 70% auto;
	font-weight: 700;
	font-size: large;
	color: var(--lightcolor);
}
.section-cards .prop-card .card-details a {
	color: white;
	text-align: center;
	text-decoration: none;
	display: grid;
	place-items: center;
	font-weight: 500;
	transition: 0.5s;
	background-color: var(--blue);
	border: none;
	border-radius: 10px;
}
.section-button{
	display: grid;
	place-items: center;
}
.section-button a{
	color: white;
	padding: 1% 3%;
	text-align: center;
	text-decoration: none;
	display: grid;
	place-items: center;
	font-weight: 700;
	font-size: large;
	transition: 0.5s;
	background-color: var(--blue);
	border-radius: 10px;
	margin-bottom: 3%;
	padding: 5px; 
}

@media screen and (max-width: 700px) {
   .section-cards{
  	grid-template-columns: repeat(1, 1fr);
  }
	.card-img img{
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

@media screen and (min-width: 700px) {
  .section-cards{
  	grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .section-cards{
  	grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1400px) {
.section-cards{
	grid-template-columns: repeat(4, 1fr);
	}
}
