footer{
    width: 100vw;
    height: auto;
    padding-top: 10px;
    background-color: #fff;
    display: grid;
    place-items: center;
    grid-template-columns: 100%;
    overflow: hidden;
}
footer #f-head{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: min-content min-content auto;
    padding-left: 40px;
    align-items: center;
    column-gap: 10px;
}
#links-area{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
}
#link{
    width: 80%;
    text-align: left;
    display: grid;
    font-weight: 600;
    padding: 20px 0px;
}
#link h4{
    font-size: medium;
    padding-top: 15px;
}
#link a{
    color: #444;
    transition: 0.5s;
    padding-top: 10px;
    font-size: small;
}
#link a:hover{
    color: #000;
}
#f-down{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns:auto auto auto;
    padding-left: 40px;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 20px;
    font-size: x-small;
}
@media screen and (max-width: 550px) {
    #links-area{
        grid-template-columns: 100%;
    }
    #f-down{
        grid-template-columns:100%;
    }
}
